<html>
	<head>
		<meta http_equiv=Content-Type content="text/html; charset=utf_8">
		<script src="http://cdn.bootcss.com/socket.io/1.3.5/socket.io.js"></script>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
		<title id="page_title"></title>
                <style type="text/css">
                </style>
                <script>
                        function getUsername(){
                                return "<%=username%>";
                                //~ return window.location.hash.replace(/^#/,"") || "<Unknown>";
                        }
                        function getRoomname(){
                                return "<%=roomname%>";
                        }
                        function addTextMessage(message){
                                var divs=$("#text_messages");
                                var para=document.createElement("p");
                                para.textContent=message.author+": "+message.text;
                                divs.append(para);
                                
                        }
                        function sendTextMessage(){
                                var text=$("#text_message_input").val();
                                if(!text) return;
                                message={
                                        author: getUsername(),
                                        room:   getRoomname(),
                                        text: text,
                                };
                                socket.emit("text_message",message);
                                $("#text_message_input").val("");
                                addTextMessage(message);
                        }
                </script>
	</head>
	<body>
                <h1 id="username"></h1>
                <div id="text_messages">
                </div>
                <div id="text_message_send">
                        <input id="text_message_input"></input>
                        <button id="text_message_button">发送</button>
                </div>
                <script>
                        var socket=io.connect("localhost:8080");
                        socket.emit('enter_room',{
                                room: getRoomname(),
                                user: getUsername(),
                        });
                        window.onunload=function(){
                                socket.emit('leave_room',{
                                        room: getRoomname(),
                                        user: getUsername(),
                                });
                        }
                        $("#text_message_button").on("click",sendTextMessage);
                        $("#text_message_input").keydown(function(event){
                                if(event.keyCode==13)//按下回车事件
                                        sendTextMessage();
                        });
                        socket.on("text_message",function(message){
                                addTextMessage(message);
                        });
                        $("#username").text(getUsername()+"@"+getRoomname());
                        $("#page_title").text(getUsername()+"@"+getRoomname());
                </script>
        </body>
</html>
