<!DOCTYPE HTML5>
<html>
	<head>
		<meta http_equiv=Content-Type content="text/html; charset=utf_8">
                <meta name="viewport" 
                content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=0">
                <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
                <script src="//cdn.bootcss.com/require.js/2.1.18/require.js" data-main="/script/index.js"></script>
                
                <link rel="import" href="/bower_components/paper-button/paper-button.html">
                <link rel="import" href="/bower_components/paper-input/paper-input.html">
                <link rel="import" href="/bower_components/paper-material/paper-material.html">
                <link rel="import" href="/bower_components/paper-toast/paper-toast.html">

                <!-- 由于GoogleAPI不能用改用360的roboto字体 -->
                <link rel="import" href="/dc_components/font-roboto.html">
                <link rel="import" href="/dc_components/login-dialog.html">

                <link rel="stylesheet" type="text/css" href="/css/index.css">

		<title>DrawCraft</title>
	</head>
	<body unresolved>
                <div id="title">DrawCraft</div>
                <div id="block">
                <paper-material id="block_shadow" elevation="1">
                        
                        <label id="name_label">Welcome</label>
                        <paper-input
                                id="username_input"
                                label="Your Name"
                                maxlength=20>
                        </paper-input>
                        <paper-button id="enter_button">
                                Join Us
                        </paper-button>
                </paper-material>
                </div>
                <login-dialog id="login_dialog"></login-dialog>
                <paper-toast id="notify">
                </paper-toast>
	</body>
</html>
