<!DOCTYPE HTML5>
<html>
	<head>
                <meta name="viewport" 
                content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=0">
                <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
                <link rel="import" href="/bower_components/paper-button/paper-button.html">
                <link rel="import" href="/bower_components/paper-input/paper-input.html">
                <link rel="import" href="/bower_components/paper-material/paper-material.html">

                <!-- 由于GoogleAPI不能用改用360的roboto字体 -->
                <link rel="import" href="/dc_components/font-roboto.html">

                <script src="/jquery.min.js"></script>
		<script src="/jquery.cookie.js"></script>

                <script src="/script/index.js"></script>
                <link rel="stylesheet" type="text/css" href="/css/index.css">

		<title>DrawCraft</title>
	</head>
	<body unresolved>
                <div id="title">DrawCraft</div>
                <div id="block">
                <paper-material id="block_shadow" elevation="1">
                        
                        <label id="name_label">Welcome</label>
                        <paper-input id="username_input" label="Your Name"></paper-input>
                        <paper-button id="enter_button">
                                Join Us
                        </paper-button>
                </paper-material>
                </div>
	</body>
</html>
