<html>
	<head>
		<meta http-equiv=Content-Type content="text/html; charset=utf-8">
		<script src="http://cdn.bootcss.com/socket.io/1.3.5/socket.io.js"></script>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
		<style type="text/css">
		</style>
		<title>DrawCraft</title>
                <script>
                        function enterRoom(){
                                var username=$("#username_input").val();
                                var roomname=$("#roomname_input").val();
                                window.location.href="/app?user="+username+"&room="+roomname;
                        }
                </script>
	</head>
	<body>
                <h1>DrawCraft</h1>
                <label>房间</label>
                <input id="roomname_input"></input><br/>
                <label>用户名</label>
                <input id="username_input"></input>
                <button id="enter_button">进入</button>
                <script>
                        $("#roomname_input").val("Lobby");
                        $("#username_input").keydown(function(event){
                                if(event.keyCode==13)//按下回车事件
                                        enterRoom();
                        });
                        $("#enter_button").on("click",enterRoom);
                </script>
	</body>
</html>
