<!DOCTYPE html5>
<html>
        <head>
		<meta http_equiv=Content-Type content="text/html; charset=utf_8">
                <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
                <title>DrawCraft</title>
                <link rel="stylesheet" href="/css/newapp.css">
                <script src="//cdn.bootcss.com/require.js/2.1.18/require.js" data-main="/script/app.js"></script>


                <!-- 接下来是components -->
                <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
                
                <link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">
                <link rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html">
                <link rel="import" href="/bower_components/paper-toast/paper-toast.html">
                <link rel="import" href="/bower_components/iron-icons/iron-icons.html">
                
                <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
                <link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
                
                <link rel="import" href="/bower_components/paper-input/paper-input.html">
                <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
		<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
		<link rel="import" href="/bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
                <link rel="import" href="/bower_components/paper-menu/paper-menu.html">
                <link rel="import" href="/bower_components/paper-slider/paper-slider.html">
                
                
                <!-- 由于GoogleAPI不能用改用360的roboto字体 -->
                <link rel="import" href="/dc_components/font-roboto.html">
                <link rel="import" href="/dc_components/context-menu.html">
                <link rel="import" href="/dc_components/require-password-dialog.html">
                <link rel="import" href="/dc_components/style-setting-dialog.html">
        </head>
        <body>
                <div id="board">
                </div>
                <label id="pos_label"></label>
<!--
                <div id="absdiv" style="position:absolute;width:1em;height:1em;background:green">
                </div>
                <div id="centerdiv" style="position:absolute;width:1em;height:1em;background:red">
                </div>
-->
                <section id="mode_radio">
			<paper-radio-group id="mode_radio_group" class="blue" selected="Draw">
                                <paper-radio-button
                                        id="draw_radio_button"
                                        class="blue-radio"
                                        name="Draw">
                                        Draw
                                </paper-radio-button><br>
                                <paper-radio-button
                                        id="move_radio_button"
                                        class="blue-radio"
                                        name="Move">
                                        Move
                                </paper-radio-button>
                        </paper-radio-group>
                        

                </section>
                
                <paper-icon-button icon="settings" id="setting_button"></paper-icon-button><br>
                <paper-icon-button icon="help-outline" id="help_button"></paper-icon-button>
                
                <paper-dialog id="help_dialog" heading="Help">
                        <p>建议使用Chrome或Opera浏览本页面</p>
                        <p>使用WASD或鼠标中键移动视野</p>
                        <p>可以通过左下角的两个单选按钮切换左键操作模式</p>
                        <p>右键可插入图片，图片太大可能会卡</p>
                        <p>可通过右下角的设置按钮设置画笔</p>
                        <p>在聊天框使用/tp x y命令可移动到指定位置</p>
                        <p>按钮用英文是因为字体好看，求不吐槽</p>
                        <p>移动设备暂时无法绘制</p>
                        <paper-icon-button id="close_help_button" icon="close"></paper-icon-button>
                </paper-dialog>
                

                <div id="chat_header">
                <paper-material elevation="2">
                <paper-header-panel mode="waterfall" class="blue">
			<div class="paper-header" id="chat_block_header">Chat</div>
			<div class="content chat_content" id="chat_content"></div>
		</paper-header-panel>
                </paper-material>
                </div>
                
		<div id="inputblock">
                        <paper-material id="block_shadow" elevation="2">
                                <paper-input id="content_input" label="Your Words"></paper-input>
                                <paper-icon-button id="send_button" icon="check"></paper-icon-button>
                        </paper-material>
		</div> 
		
                

                <paper-toast id="notify"></paper-toast>
                <require-password-dialog id="password_dialog"></require-password-dialog>
                <style-setting-dialog id="style_setting_dialog"></style-setting-dialog>
        </body>
</html>
