html,body{
        height: 100%;
        margin: 0;
        background-color: #eeeeee;
        font-family: 'RobotoDraft', sans-serif;
        overflow: hidden;
}
paper-shadow{
	height:100%;
	width:100%;
}
div#board{
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
        overflow: hidden;/*内部chunk超出时隐藏*/
/*
        background:#C3BED4;
*/
}
div.chunk{
        position:absolute;
        border-style: solid; border-width: 1px;
        /*先加上边框方便看*/
        /*CSS不能使用//注释*/
}

div#position_bar{
        position: absolute;
        top: 0px;
        right:0px;
        z-index:10;
}

#core-header-panel{
	z-index: 10;
	height: 100%;
	width: 100%;
	top: 0;
	background-color: blue;
	
}
#panel_shadow{
	width: 20%;
	height: 45%;
	bottom: 7em;
	left: 1em;
	min-height: 15em;
	position: absolute;

}
.core-header{
        height: 2em;
        font-size: 2em;
        background-color: #5677fc;
        color: #e7e9fd;
        text-align:center;
        line-height: 2em;
}
.content{
	width:100%;
	min-height:100%;
	height: 100%;
	position:absolute;
	top:0;
	background-color: white;
}
#block{
	bottom: 5%;
	left: 1em;
	width: 20%;
	height: 3.5em;
	background-color: white;
	position: absolute;
	z-index: 10;
}
#block_shadow{
	width: 100%;
	height: 100%;
}
#content_input{
	width: 90%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: white;

}
#send_button{
	z-index: 10;
	background-color: white;
}
#setting{
	z-index: 11;
	width: 30em;
	height: 26em;
}
#setting_button{
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
}
#menu_button{
	z-index: 20;
	bottom: 1%;
	right: 1%;
	position: absolute;
}
#slider{
      width: 100%;
}
#color_button{
	left:31%;
}
#ok_button{
	left:39%;
	background-color: #5677fc;
	color: white;
}
.color_list_item{
	height: 1em;
	width: 1em;
}
#Mode{
	z-index: 30;
	right: 1em;
	bottom: 3em;
	position: absolute;

    
}

svg{/*防止绘制层被遮挡*/
        position: absolute;
        z-index: 7;
}
