html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: #212121;
        font-family: 'RobotoDraft', sans-serif;
        overflow: hidden;
}
.paper-header{
        width: 100%;
        position: absolute;
        min-height: 15em;
        background-color: #F50057;
        z-index: 15;
}
chat-header{
        width: 100%;
        height: 100%;
}
