html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: #eeeeee;
        font-family: 'RobotoDraft', sans-serif;
        overflow: hidden;
}
#board{
        width: 100%;
        height: 100%;
}
#pos_label{
        right: 0;
        top: 0;
        position: absolute;
}
#mode_radio{
	z-index: 30;
	right: 1em;
	bottom: 3em;
	position: absolute;
    
}
paper-radio-button.blue-radio::shadow #ink[checked] {
        color: #5677fc;
}
    
paper-radio-button.blue-radio::shadow #onRadio {
        background-color: #5677fc;
}

