html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: #eeeeee;
        font-family: 'RobotoDraft', sans-serif;
        overflow: hidden;
}
#board{
        width: 100%;
        height: 100%;
}
#pos_label{
        right: 0;
        top: 0;
        position: absolute;
}
#mode_radio{
	z-index: 30;
	right: 1em;
	bottom: 3em;
	position: absolute;
    
}
paper-radio-button.blue-radio::shadow #ink[checked] {
        color: #F50057;
}
    
paper-radio-button.blue-radio::shadow #onRadio {
        background-color: #F50057;
}

#setting_button{
        position: absolute;
        bottom: 0.5em;
        right: 4.3em;
        z-index: 30;
}

#help_button{
        position: absolute;
        bottom: 0.5em;
        right: 1.5em;
        z-index: 30;
}

.blue .paper-header {
        background-color: rgb(0, 184, 255);
}


paper-header-panel {
        width: 100%;
        height: 100%;
}

#chat_header{
        position:absolute;
        left: 1em;
        bottom: 6em;
        min-width: 6em;
	width: 20%;
        height: 50%;
        min-height: 10em;
}
#char_header_shadow > paper-material{
        width: 100%;
        height: 100%;
}

#chat_block_header{
        background-color: #5677fc;
	width: 100%;
        height: 2em;
        font-size: 2em;
        line-height: 2em;
        color: white;
        transition: height 0.2s;
        text-align: center;
        overflow: hidden;
}
.chat_content {
	width:100%;
	min-height:100%;
	position:absolute;
	top:0;
        padding-left: 0.1em;
	background-color: white;
        font-size: 1.3em;
        word-break: break-all;
}

.chat_content > p > strong{
        color: #F50057;
}

#inputblock{
	bottom: 1em;
	left: 1em;
        min-width: 6em;
	width: 20%;
	height: 4em;
	background-color: white;
	position: absolute;
	z-index: 10;
}

#content_input{
        position: absolute;
        min-width: 5em;
	width: auto;
	height: 100%;
	top: 0;
	left: 0.5em;
        right: 2em;
	z-index: 10;
        bottom: 0.5em;
}
#send_button{
        position: absolute;
	z-index: 11;
        bottom: 0.5em;
	right: 0.5em;
	background-color: white;
}
#block_shadow{
	width: 100%;
	height: 100%;
}


#notify{
        z-index: 100;
}
