html,body{
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: #eeeeee;
        font-family: 'RobotoDraft', sans-serif;
        overflow: hidden;
}
#board{
        width: 100%;
        height: 100%;
}
#pos_label{
        right: 0;
        top: 0;
        position: absolute;
}
