html,body{
        height: 100%;
        margin: 0;
        background-color: #eeeeee;
        font-family: 'RobotoDraft', sans-serif;
}
#title{
        top: 1.5em;
        width: 100%;
        text-align:center;
        font-size: 3em;
        marigin-left:auto;
        marigin-right:auto;
        position: absolute;
}
#back_fab{
        top: 3em;
        left: 5%;
        background-color: white;
        color: black;
        position: absolute;
}
#find_button{
        top: 11em;
        position: absolute;
        right: 10%;
        z-index: 4;
}
#name_input{
        top: 10.5em;
        width: 80%;
        left: 10%;
        right: 10%;
        position: absolute;
        z-index: 7;
}
#rooms_background{
        width: 80%;
        left: 10%;
        right: 10%;
        /*top: 16em;*/
        top: 1em;
        position: absolute;
        z-index: 3;
}
#block{
        left: 0;
        width: 100%;
        height: 13em;
        position: absolute;
        background-color: white;
}
#name_label{
        color: #3b50ce;
        font-size: 3em;
        /*text-align:center;*/
        line-height: 4em;
        top: 0;
        font-style: normal;
        left: 5%;
        right: 50%;
        width: 45%;
        height: 25%;
        left: 1em;
        position: absolute;
}
#enter_button{
        right: 1.5em;
        top: 5em;
        position: absolute;
}
#notify{
        z-index: 10;
}
paper-material{
        z-index: 5;
}
.paper-header{
        width: 100%;
        height: 15em;
        color: white;
        background-color: #303F9F;
        color: #FFFFFF;
}
.fit{
        z-index: 6;
}
