html,body{
        height: 100%;
        margin: 0;
        background-color: #eeeeee;
        font-family: 'RobotoDraft', sans-serif;
}
#title{
        top: 1.5em;
        width: 100%;
        text-align:center;
        font-size: 3em;
        marigin-left:auto;
        marigin-right:auto;
        position: absolute;
}
#back_fab{
        top: 3em;
        left: 5%;
        background-color: white;
        color: black;
        position: absolute;
}
#find_button{
        top: 11em;
        position: absolute;
        left: 72%;
        z-index: 10;
}
#name_input{
        top: 10.5em;
        width: 46%;
        left: 25%;
        position: absolute;
        z-index: 10;
}
#background{
        width: 50%;
        left: 25%;
        right: 25%;
        top: 16em;
        position: absolute;
        z-index: 5;
        min-height: 100%;
}
#block{
        left: 0;
        width: 100%;
        height: 13em;
        position: absolute;
        background-color: white;
}
#block_shadow{
        width: 100%;
        height: 100%;
        position: absolute;
}
#name_label{
        color: #3b50ce;
        font-size: 3em;
        /*text-align:center;*/
        line-height: 4em;
        top: 0;
        font-style: normal;
        left: 5%;
        right: 50%;
        width: 45%;
        height: 25%;
        left: 1em;
        position: absolute;
}
#enter_button{
        right: 1.5em;
        top: 5em;
        position: absolute;
}
